# Environnement Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Dataset (trop lourd pour GitHub)
data/images/
data/masques/
data/ISIC2018_Task1_Validation_GroundTruth/
data/ISIC2018_Task1-2_Validation_Input/


# Modèles entraînés
outputs/checkpoints/*.pth
outputs/checkpoints/*.pt

# Prédictions générées
outputs/predictions/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Rapport
rapport/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
runs/

# Modèles lourds et checkpoints
models/*.pth
models/checkpoints/*.pth

# Sorties générées
outputs/

